/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-theme=dark] .heroBanner {
  color: var(--ifm-heading-color);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
