
# IntelliJ IDEA
.idea
*.iml
app.iml
/build

# Gradle
.gradle
gradlew.bat
build
local.properties
reports

# Apple
.DS_Store
npm-debug.log

#Fabric
crashlytics.properties

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
/keystore
*.jks
*.keystore
keystore.gradle
